

@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');





*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}
body{
   overflow-x: hidden;
}
header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-left:4vw;
    padding-right:4vw;
 background-color: black;
 border-bottom:1px solid white;
    background-size: cover;
    backdrop-filter: blur(150px);
    height:10vh;
    width: 100vw;
    position:fixed;
    z-index: 100;
    transition: 0.5s;
}
.logo{
    display: flex;
    align-items: center;
    /* padding-top:2vh; */
    justify-content: left;
    flex: 1;
    font-size: 50px;
    font-family: 'Dancing Script', cursive;
    font-weight: 100;
    opacity: 0.8;
    
}
.logo a{
    text-decoration: none;
    color: white;

}

nav{
    display: flex;
    flex: 2;
    height: 100%;
 width: auto;
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items:center;
   width: 100%;
   height: 100%;
   font-family: 'Nanum Myeongjo', serif;
   font-weight: 600;
   /* font-size: 20px; */

}
nav ul li a {
    text-decoration: none;
    color:white;
    padding: 0.8em 1.5em;
    border-radius: 30px;
    
}
nav ul li a:hover{
  background-color:white;
  color: purple;
    
}

@media screen and (max-width:560px) {
    nav ul{
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: linear-gradient(to right bottom, rgba(255,255,255,1),rgba(175, 212, 209, 0.9));
        /* background: rebeccapurple; */
        backdrop-filter: blur(120px);
        top:-150%;  
        height:120vh;
        left: 0%;
        width: 100%;
        border-radius: 20px;
        /* display: none; */
        clip-path: inset(100%);
        -webkit-clip-path:inset(100%);
        transition: all .5s ease-out;
        pointer-events: none;
        z-index: 3;
        padding-top: 95px;
        z-index: 5;
    }

    nav ul li{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.5em;
    }
    nav ul li a{
       
        color: purple;
 
       
      }
    .line{
        width: 30px;
        height: 3px;
        background: white;
        margin: 5px;
    }
    .hamburger{
        position:absolute;
        z-index: 3;
        cursor: pointer;
        right: 5%;
        top: 30%;
        transform: translate(-5% -30%);
    }
    nav ul.open{
        clip-path: inset(25% 15% 15% 15% round 20px);
        -webkit-clip-path:inset(25% 15% 15% 15% round 20px);
        transition: all .5s ease-out;
        pointer-events: all;

    }
}
/* ------------------------------------------------first page---------------------------------------------- */
.first-page{
    height:100vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 8vw;
    background-color: black;
    background-size:cover;
    position: relative;
  
}

.intro-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5vh;
    position: absolute;
    top: 30%;
   
}
.hello ,.name , .short-line ,.find-me{
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
.name{
    font-size:60px;
    font-family: 'Nanum Myeongjo', serif;
}

.social-links{
    display: flex;
    justify-content:left;
    align-items: center;
    padding-top: 1em;
}
.bottom-link{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 3%;
}
#solid{
    background: white;
    color: purple;
    border: 1px solid white;
}
#solid:hover{
    background:transparent;
    color: white;
   
}
.find-me{
    font-size: 25px;
}
i{
    padding-right: 0.5em;
    color: rgba(255, 255, 255, 0.9);
    cursor: pointer;
    font-size: 30px;
}

.fa-facebook:hover{
  
    color: black;
}
.fa-instagram:hover{
   
    color: black;
}
.fa-youtube:hover{
   
    color: black;
}
.fa-github:hover{
    color:teal;
}
.fa-twitter:hover{
   
    color: black;
}

.extra-buttons{
    position: absolute;
    bottom: 20%;
}
button{
    padding: 0.5em 1em;
    font-size: 20px;
    font-weight: 50;
    border: none;
    border-radius: 25px;
    background-color: transparent;
    border: 1px solid white;
    color: #fff;
    backdrop-filter: blur(15px);
}
button:hover{
  background-color: white;
  color: purple;
}
.hire-me{
    margin-right: 1em;
}
.first-mid{
    font-size: 25px;
    font-family: 'Nanum Myeongjo', serif;
    font-weight: 300;
    color:white ;
    position: absolute;
    bottom: 35%;
    width: max-content;
    background: transparent;
    backdrop-filter:blur(10px);
    padding: 0.5em 1em;
    border-radius: 10px;
}
.typing1{
    color:rgb(211, 15, 15);
}

@media screen and (max-width:760px) {
.bottom-link{
    bottom: 5%;
}
.first-mid{
    font-size: 20px;
    bottom: 40%;
}

.extra-buttons{
    bottom: 25%;
}
}


/* --------------------------------------------------------about-me----------------------------------------- */
.about-me{
    height:auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to right top, #c99ec5,#6cdbeb);
 
    font-weight: 100;
    padding: 3vh 10vw;
    color: purple;
}
.about-me-heading{
    font-size: 30px;
    font-family: 'Nanum Myeongjo', serif;
    font-weight: 300;
}
.about-me-phrase{
    font-size: 25px;
    width: 100%;
    padding: 0 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-me-phrase p{
    padding: 0 1vw;
}
.about-me-phrase::before{
    content: "";
    width: 100px;
    height: 2px;
    background-color: red;
}
.about-me-phrase::after{
    content: "";
    width: 100px;
    height: 2px;
    background-color: red;
}
.about-me-middle{
    /* height: 80vh; */
    height: auto;
    width: 100%;
 padding-top: 3vh;
    border-radius: 20px;
    margin-top: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    background: linear-gradient(to right bottom, rgba(255,255,255,0.7),rgba(255,255,255,0.3));
    font-family: 'Martel', serif;
}
.typing2{
    color: rgb(238, 16, 71);
}
.middle-left{
    width: 400px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.middle-right{
    width: 600px;
    height: 100%;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
    padding: 5vh 3vw;
}
.middle-left img{
    height: 400px;
}
.about-me-botom{
    height: 15vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  
}
.middle-right h1{
    text-align: left;
    font-size: 40px;
    font-weight: 500;
}
.middle-right p{
    text-align:justify;
    font-size: 20px;
}



@media screen and (max-width:760px) {
    .about-me-middle{
        height: auto;
    }
    .middle-left{
        height: auto;
    }
    .middle-right{
        height: auto;
        padding: 5vh 3vh;
    }
    .middle-right h1{
        text-align: center;
    }
    .middle-right p{
        text-align:justify;
    }
    .about-me-middle{
        padding-top: 5vh;
    }
    .about-me-botom{
       padding: 6vh 0;
       
    }
    .about-me-botom p{
        text-align: center;
    }
    .amrit h1{
        font-size: 30px;
    }
}















/* -----------------------------------------------second-page---------------------- */

.second-page{
    height: 100vh;
    height: auto;
    width: 100%;
    
    display: flex;
    flex-direction: column;
    padding:5vh 5vw;
    /* padding: 10vh 5vw; */
    overflow-x: hidden;
    background: linear-gradient(to right top, #a9b4b2,#6cdbeb);
   
}


.my-skill-text{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    font-family: 'Nanum Myeongjo', serif;
    color: purple;
}

.my-skills{
    font-weight: 600;
    font-size: 40px;
}
q{
    font-size: 25px;
}
.my-skill-info{
    display: flex;
    align-items:center;
    justify-content: space-between;
    flex-wrap: wrap;

}


.html-container{
    margin-top: 4em;
    position: relative;
    width: 250px;
    height: 200px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px solid rgb(12, 11, 12);
   
   
}
.the-card{
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
    background-color:rgba(255, 255, 255, 0.9);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 5px 5px 10px solid rgb(12, 11, 12);
    background: linear-gradient(to right bottom, rgba(255,255,255,0.3),rgba(255,255,255,0.05));
}
.the-front{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-color:rgba(255, 255, 255, 0.9);
    color: #333;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(to right bottom, rgba(255,255,255,0.7),rgba(255,255,255,0.0));
}
.the-back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    color: #333;
    transform:rotateY(180deg);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
    background-color:rgba(255, 255, 255, 0.9);
    background: linear-gradient(to right bottom, rgba(255,255,255,0.7),rgba(255,255,255,0.3));
}
.the-card:hover{
transform: rotateY(180deg);

}
img{
height: 100px;
}
.short-line{
    text-align: center;
}


/* ---------------------------------------------------media query--------------------------------------- */
@media screen and (max-width:1258px) {
.my-skill-info{
    justify-content: center;
}
.second-page{
    height: auto;
}
.name{
    font-size: 40px;
}

/* .extra-buttons{
bottom: 55%;
} */
.my-skills{
    font-size: 30px;
}
q{
    font-size: 15px;
}

}

/* -----------------------------------third page--------------------------- */
.third-page{
    width: 100%;
    height: auto;
background-color: rgb(198, 230, 231);
}
.project-text{
    height: 20vh;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Nanum Myeongjo', serif;
}
.project-text h1{
    font-weight: 600;
    font-size: 40px;
}
.projects{
    width: 100%;
    height: auto;
    padding: 10vh 10vw;
}
.first-project{
    width: 100%;
    height:auto;
    display: flex;
    justify-content: space-between;
  padding-bottom: 15vh;
   flex-wrap: wrap;
}
.second-project{
    width: 100%;
    height:auto;
    display: flex;
    justify-content: space-between;
    padding-bottom: 15vh;
   flex-wrap: wrap-reverse;
}
.third-project{
    width: 100%;
    height:auto;
    display: flex;
    justify-content: space-between;
    padding-bottom: 15vh;
   flex-wrap: wrap;
}
.fourth-project{
    width: 100%;
    height:auto;
    display: flex;
    justify-content: space-between;
    padding-bottom: 15vh;
   flex-wrap: wrap-reverse;
}
.fifth-project{
    width: 100%;
    height:auto;
    display: flex;
    justify-content: space-between;
    padding-bottom: 5vh;
   flex-wrap: wrap-reverse;
}
.left{
    max-width: 500px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
   
   
}
.right{
    width: 500px;
    height:250px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
   flex-direction: column;
    padding: 0 3vh;
    
}
.left img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.projects h1,p{
    color: purple;
    text-align: center;
    font-family: 'Zilla Slab', serif;
}
@media screen and (max-width:1257px) {
    .first-project,.second-project ,.third-project,.fourth-project,.fifth-project{
        justify-content: center;
    }
    .first-project ,.second-project ,.third-project,.fourth-project,.fifth-project{
        padding-bottom: 0vh;
    }
    .right{
        height: 300px;

    }
 .four-center{
     justify-content: center;
 }
 .project-text h1{
    margin-top: 10vh;
    font-size: 20px;
}
}

.project-text{
    color: purple;
}
.project-text h1{
    margin-top: 10vh;
    font-size: 40px;
}

/* ===================================================four=============================================== */
.four{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 10vw;
    padding-bottom: 10vh;
    background-color: white;
    background: linear-gradient(to right top, #a9b4b2,#6cdbeb);
}
.four-top{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
   padding: 10vh;
    height: 15vh;
    width: auto;
    color: purple;
}
.four-top h1{
    font-weight: 300;
    font-size: 40px;
    /* font-family: 'Nanum Myeongjo', serif; */
}
.four-center{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
}
.four-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
    width: 100%;
}
.programming{
    width: 250px;
    height: 400px;
    /* background-color: white; */
    background: linear-gradient(to right bottom, rgba(255,255,255,0.7),rgba(255,255,255,0.3));
     backdrop-filter: blur(15px);
    border-radius: 20px;
    box-shadow: 5px 5px 15px teal;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 3vh 0;
}
.programming:hover{
    background: white;
}
.four-photo{
    height: 200px;
    width: 200px;
    box-shadow: 2px 2px 10px teal;
border-radius:20px;

}
.four-photo img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.four-text{
    height: 50px;
    width: 200px;
    box-shadow: 2px 2px 10px teal;
border-radius: 10px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;

}
.four-text h2{
    font-weight: 100;
    font-size: 25px;
    color: purple;
}


@media screen and (max-width:620px) {

 .four-center{
     justify-content: center;
     
 }
 .programming{
     margin-top: 10vh;
 
 }
 .four{
     position: relative;
 }
 .four-center{
     padding-top: 10vh;
 }
 .four-top{
     position: absolute;
     z-index: 2;
     top: 10px;

 }
}
footer{
    display: flex;
    flex-direction: column;
    height:auto;
    width: 100%;
    /* background: linear-gradient(to right top, #a9b4b2,#6cdbeb); */
    background: black;
   
}
.footer-heading{
    height: 10vh;
    width: 100%;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
padding-left: 10vw;
}
.left-heading{
    display: flex;
    align-items:flex-start;
    justify-content: center;
    flex-direction: column;
    height:15vh;
    width: 300px;
}
.left-heading h1{
    font-weight: 100;
    color: white;
    font-size: 20px;
    padding-bottom: 5px;
   
}
.left-heading::after{
    content: "";
    height: 2px;
    width: 100px;
    background: chocolate;
}
.footer-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: auto;
 
    width: 100%;
   
    padding: 0 7vw;
}

.footer-left{
    width: 300px;
    height: 100%;
    display: flex;
    align-items: center;

    flex-direction: column;
    color: white;
   
}
.footer-left ul li{
    list-style: none;
    margin-bottom: 15px;
}
.footer-left ul li i{
    font-size: 20px;
     color: white;
}
.footer-left ul li i:hover{
    font-size: 20px;
    color:white;
}
.last-footer li a{
    color: white;
    text-decoration: none;
}
.footer-left ul{
display: flex;
width: 100%;
height:20vh;
align-items: flex-start;
flex-direction: column;
}

.footer-left p{
    color: white;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;  

}
.footer-remain{
    height: 5vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: linear-gradient(to right top, #a9b4b2,#6cdbeb); */
    background:black;
.footer-remain p{
    color: white;
}
